<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{% block modal_title %}Confirm{% endblock %}</h4>
</div>
<div class="modal-body">
{% block modal_body %}<p>Are you sure you want to do this?</p>{% endblock %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" click-function='submit();'> {% block confirm_button_text %}Confirm{% endblock %}</button>
</div>