Django<1.9
djangorestframework
pytest-django
pytest-cov
django-angular
celery[redis]
djoser
factory_boy
django-rest-swagger
mock


boto3
google-api-python-client
PyDrive
requests
ndg-httpsclient
dropbox
honcho

# Pip is dumb, and the version of backports.ssl_match_hostname published to pypi won't download.
https://bitbucket.org/brandon/backports.ssl_match_hostname/get/tip.zip
