{% extends "skeleton_angular.html" %}
{% load assets %}{% load title_switcher %}
{% block html_class %}class="full-westlife"{% endblock html_class%}
{% block ng_app %}class="nobackground"{% endblock ng_app %}
{% block stylesheets %}
    {% assets "css_landing" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock stylesheets %}

{% block body %}
{% include "blocks/navbar_root_westlife.html" %}

<div class="presentation-text">
    <h3>West-Life services</h3>
    <ul>
        <li class="presentation-institution">
            <h4><a href="/static/ccp4.html" target="_blank">CCP4 (STFC)</a></h4>
            <p>
              Applications: 7 pipelines for structure solution by macromolecular crystallography from the larger CCP4 suite: Ample, Balbes, Crank2, MoRDa, MrBUMP, Shelx and Zanuda, as well as an interactive utility jsPISA.  
            </p>
        </li>

            <li class="presentation-institution">
                <h4><a href="https://xtal.nki.nl/ccd/" target="_blank">CCD<sup>2</sup> (NKI)</a></h4>
                <p>
                    The Protein Crystallisation Construct Designer (ProteinCCD)
                    is a tool to help deciding how to choose promising constructs for protein expression and crystallisation.
                    A specific feature of CCD is that since it starts from the DNA sequence, it keeps track of the protein-DNA relationship.
                    Thus, although all the analysis and construct choice is being done in the protein level, 
                    CCD can be used to suggest primers for PCR amplification of the chosen constructs, since it also knows the DNA sequence.
                </p>
            </li>

                <li class="presentation-institution">
                    <h4><a href="http://www.cmbi.ru.nl/pdb_redo/" target="_blank">PDB_REDO (NKI)</a></h4>
                    <p>
                        The PDB_REDO server is a tool for macromolecular X-ray crystallographers who wish to optimize the refinement of their structure.
                        It takes as input the coordinates of a macromolecular structure you are working on (PDB file),
                        together with the associated X-ray diffraction data (MTZ file),
                        and returns a refined and partially rebuilt model and a validation report .
                    </p>
                </li>

        <li class="presentation-institution">
            <h4><a href="http://haddock.science.uu.nl/enmr/services/HADDOCK2.2" target="_blank">HADDOCK2.2 (Utrecht University)</a></h4>
            <p>
                Information driven biomolecular docking based on the HADDOCK software as described in <a href="http://www.bonvinlab.org/software/haddock2.2/haddock.html">http://www.bonvinlab.org/software/haddock2.2/haddock.html</a>
            </p>
            <p>
                Several access levels to the portal are provided exposing an increasing number of options / parameters:
            </p>
            <ul>
                <li>HADDOCK server: the Easy interface</li>
                <li>HADDOCK server: the Prediction interface</li>
                <li>HADDOCK server: the Expert interface (requires Expert level access)</li>
                <li>HADDOCK server: the Refinement interface (requires Expert level access)</li>
                <li>HADDOCK server: the Guru interface (requires Guru level access)</li>
                <li>HADDOCK server: the Multi-body interface (requires Guru level access)</li>
                <li>HADDOCK server: the File upload interface</li>
                <li>HADDOCK server tool: generate AIR files for multibody docking</li>
            </ul>
        </li>
        <li class="presentation-institution">
            <h4><a href="/static/scipion.html" >Scipion (CNB - CSIC)</a></h4>
            <p>
                Subset of workflows implemented in Scipion and accessed through a webpage. These tools provides a good way to try the different processing workflows without any local installation.
            </p>
        </li>
        <li class="presentation-institution">
            <h4><a href="http://3dbionotes.cnb.csic.es/" >3DBIONOTES (CNB - CSIC)</a></h4>
            <p>
                Annotates a structure with information from many biomedical databases. 
            </p>
        </li>
        <li class="presentation-institution">
            <h4><a href="http://haddock.science.uu.nl/enmr/services/CS-ROSETTA3" target="_blank">CS-ROSETTA3 (Utrecht University)</a></h4>
            <p>
                Chemical-shift based NMR structure calculations using rosetta
            </p>
        </li>

        <li class="presentation-institution">
	  <h4><a href="http://milou.science.uu.nl/enmr/services/DISVIS" target="_blank">DISVIS (Utrecht University)</a></h4>
	  <p>
	     DisVis allows you to visualize and quantify the information content of distance restraints between macromolecular complexes
	  </p>
	</li>
	<li class="presentation-institution">
	    <h4><a href="http://milou.science.uu.nl/enmr/services/POWERFIT" target="_blank">POWERFIT (Utrecht University)</a></h4>
	    <p>
	         PowerFit automatically fits high-resolution atomic structures into cryo-EM densities
	    </p>
	</li>


        <li class="presentation-institution">
            <h4><a href="/static/amps.html" target="_blank">AMPS-NMR (CERM)</a></h4>
            <p>
                Molecular dynamics (MD) simulations on biological systems with AMBER, in particular (but not only) using NMR-derived information as restraints for MD.
            </p>
        </li>
        <li class="presentation-institution">
            <h4><a href="http://haddock.science.uu.nl/enmr/services/UNIO" target="_blank">UNIO (Utrecht University)</a></h4>
            <p>
                Automated NOE assignment and structure calculation using UNIO and CNS
            </p>

            <p>
                The server offers various services:
            </p>
            <ul>
                <li>UNIO main data analysis components</li>
                <li>UNIO-MATCH: Automated backbone resonance assignment</li>
                <li>UNIO-ATNOS/ASCAN: Automated side-chain resonance assignment</li>
                <li>UNIO-ATNOS/CANDID: Automated NOESY assignment</li>
                <li>UNIO-CANDID: Automated NOE peak list assignment</li>
            </ul>
        </li>

        <li class="presentation-institution">
	  <h4><a href="http://www.ebi.ac.uk/pdbe/api/doc/">For programmers: PDBe API</a></h4>
	  <p>REST API for programmatic access to up-to-date information from the PDB and EMDB. Service URL: http://www.ebi.ac.uk/pdbe/pdbe-rest-api:wq.</p>
	</li>

    </ul>
    
    <h3>Other Structural Biology Services</h3>
    
    <ul>
        <li class="presentation-institution">
            <h4><a href="https://life.bsc.es/pid/pydocksaxs">pyDockSAXS</a></h4>
            <p>
                pyDockSAXS server is a web server for rigid-body protein-protein docking that combines computational and experimental information.
On one side the server uses the new version of pyDock (pyDock 3.0) to energetically evaluate the interaction surface of multiple docking poses.
On the other side, the server evaluates the capacity of each pose to describe the experimental curve of SAXS with the program CRYSOL. 
The appropriate combination of both scoring functions yields predictions of the 3D arrangement of the complex in solution. 
            </p>
        </li>
        <li class="presentation-institution">
            <h4><a href="/static/search_tools.html">Search bio.tools</a></h4>
            <p>
                The ELIXIR Tools and Data Services Registry (bio.tools) lists software and databases of value to life scientists. 
            </p>
        </li>
    </ul>
</div>
{% include "blocks/footer.html" %}
{% endblock body %}

{% block javascripts %}
    {% assets "js_landing" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" charset="utf-8">
        var div = document.createElement("div");
        div.innerHTML = "<!--[if lt IE 9]><i></i><![endif]-->";
        var isIeLessThan9 = (div.getElementsByTagName("i").length == 1);
        if (isIeLessThan9) {
            window.location = {% url 'internet_explorer' %};
        }
        // IF THE BROWSER IS INTERNET EXPLORER 10
        if (navigator.appVersion.indexOf("MSIE 10") !== -1)
          {
              window.location = {% url 'internet_explorer' %};
          }
    </script>
{% endblock javascripts %}
