{% extends "skeleton_angular.html" %}
{% load assets %}{% load title_switcher %}
{% block html_class %}class="full-westlife"{% endblock html_class%}
{% block ng_app %}class="nobackground"{% endblock ng_app %}
{% block stylesheets %}
    {% assets "css_landing" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock stylesheets %}

{% block body %}
{% include "blocks/navbar_root_westlife.html" %}

<div class="presentation-text">
    <h3>West-Life services</h3>
    <ul>
        <li class="presentation-institution">
            <h4><a href="/static/ccp4.html" target="_blank">CCP4 (STFC)</a></h4>
            <p>
                Applications: 4 applications/pipelines from the larger CCP4 suite: Balbes, MrBUMP, Zanuda, jsPISA.
                Soon to be added, 3 more pipelines: Ample, Shelx and Crank2.
            </p>
        </li>
        <li class="presentation-institution">
            <h4><a href="http://haddock.science.uu.nl/enmr/services/HADDOCK2.2" target="_blank">HADDOCK2.2 (Utrecht University)</a></h4>
            <p>
                Information driven biomolecular docking based on the HADDOCK software as described in <a href="http://www.bonvinlab.org/software/haddock2.2/haddock.html">http://www.bonvinlab.org/software/haddock2.2/haddock.html</a>
            </p>
            <p>
                Several access levels to the portal are provided exposing an increasing number of options / parameters:
            </p>
            <ul>
                <li>HADDOCK server: the Easy interface</li>
                <li>HADDOCK server: the Prediction interface</li>
                <li>HADDOCK server: the Expert interface (requires Expert level access)</li>
                <li>HADDOCK server: the Refinement interface (requires Expert level access)</li>
                <li>HADDOCK server: the Guru interface (requires Guru level access)</li>
                <li>HADDOCK server: the Multi-body interface (requires Guru level access)</li>
                <li>HADDOCK server: the File upload interface</li>
                <li>HADDOCK server tool: generate AIR files for multibody docking</li>
            </ul>
        </li>
        <li class="presentation-institution">
            <h4><a href="http://scipion.cnb.csic.es/m/services/" target="_blank">Scipion (CNB - CSIC)</a></h4>
            <p>
                Subset of workflows implemented in Scipion and accessed through a webpage. These tools provides a good way to try the different processing workflows without any local installation.
            </p>
        </li>
        <li class="presentation-institution">
            <h4><a href="http://haddock.science.uu.nl/enmr/services/CS-ROSETTA3" target="_blank">CS-ROSETTA3 (Utrecht University)</a></h4>
            <p>
                Chemical-shift based NMR structure calculations using rosetta
            </p>
        </li>
        <li class="presentation-institution">
            <h4><a href="/static/amps.html" target="_blank">AMPS-NMR (CERM)</a></h4>
            <p>
                Molecular dynamics (MD) simulations on biological systems with AMBER, in particular (but not only) using NMR-derived information as restraints for MD.
            </p>
        </li>
        <li class="presentation-institution">
            <h4><a href="http://haddock.science.uu.nl/enmr/services/UNIO" target="_blank">UNIO (Utrecht University)</a></h4>
            <p>
                Automated NOE assignment and structure calculation using UNIO and CNS
            </p>

            <p>
                The server offers various services:
            </p>
            <ul>
                <li>UNIO main data analysis components</li>
                <li>UNIO-MATCH: Automated backbone resonance assignment</li>
                <li>UNIO-ATNOS/ASCAN: Automated side-chain resonance assignment</li>
                <li>UNIO-ATNOS/CANDID: Automated NOESY assignment</li>
                <li>UNIO-CANDID: Automated NOE peak list assignment</li>
            </ul>
        </li>
    </ul>
    <a href="/static/search_tools.html">Search structural biology tools and services</a>
</div>
{% include "blocks/footer.html" %}
{% endblock body %}

{% block javascripts %}
    {% assets "js_landing" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" charset="utf-8">
        var div = document.createElement("div");
        div.innerHTML = "<!--[if lt IE 9]><i></i><![endif]-->";
        var isIeLessThan9 = (div.getElementsByTagName("i").length == 1);
        if (isIeLessThan9) {
            window.location = {% url 'internet_explorer' %};
        }
        // IF THE BROWSER IS INTERNET EXPLORER 10
        if (navigator.appVersion.indexOf("MSIE 10") !== -1)
          {
              window.location = {% url 'internet_explorer' %};
          }
    </script>
{% endblock javascripts %}
